<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MiniProfiler Intro</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MiniProfiler Intro", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Step", "Step", "Profiler")</li>
                    @*<li>@Html.ActionLink("Database", "Database", "Profiler")</li>
                    <li>@Html.ActionLink("Duplicate", "Duplicate", "Profiler")</li>
                    <li>@Html.ActionLink("AJAX", "AJAX", "Profiler")</li>*@

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("Results", "results", "mini-profiler-resources")</li>
                        <li>@Html.ActionLink("Results 100", "results-index", "mini-profiler-resources")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MiniProfiler Intro</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()

    <script type="text/javascript">
    $(function () {
        $('#myTab a:first').tab('show')
    })
    </script>
</body>
</html>
